/******************************************************************************
FSWD:  Christopher B. Zenner
Date:  02/22/2020
File:  style.sm.css
Ver.:  0.1.0 20200222

This CSS specifies the layout and style for the basic portfolio site of the
FSWD, rendering in smaller viewports.
*******************************************************************************/

/* Debug */
/* { border: 1px solid red !important; }
   { border: 1px solid orange !important; }
   { border: 1px solid yellow !important; }
   { border: 1px solid green !important; }
   { border: 1px solid blue !important; }
   { border: 1px solid purple !important; }
*/

@media screen and (max-width: 980px) {
  /******************************************************************************
   Header Elements
  *******************************************************************************/
  header {
    width: 90%;
  }

  /******************************************************************************
   Primary Content Elements
  *******************************************************************************/
  /* TODO: Modify this layout after assignment is graded for aesthetics; it looks
           odd. (02/23/2020) */
  .main-container {
    float: left;
    margin-left: 5%;
    width: 66.66666%;
  }
  
  main img {
    width: 50%;
  }  

  /******************************************************************************
   Site-specific Class & ID Elements
  *******************************************************************************/  
  #name {
    font-size: 3vw;
    line-height: 3em;
  }
}

@media screen and (max-width: 768px) {
  /******************************************************************************
   Header Elements
  *******************************************************************************/
  header,
  .main-container {
    width: 94%;
  }

  h1 {
    font-size: 3.5vw;
  }

  /******************************************************************************
   Primary Content Elements
  *******************************************************************************/
  main img {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  /******************************************************************************
   Header Elements
  *******************************************************************************/
  header {
    width: 100%;
  }

  header,
  nav, nav ul, nav ul li,
  #name {
    float: none;
  }

  nav,
  #name {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /******************************************************************************
   Navigation Elements
  *******************************************************************************/
  nav, nav ul {
    margin: 0.625rem auto;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
  }

  /******************************************************************************
   Primary Content Elements
  *******************************************************************************/
  main img {
    width: 100%;
  }

  main p {
    font-size: 0.9rem;
  }

  /******************************************************************************
   Site-specific Class & ID Elements
  *******************************************************************************/  
  #name {
    font-weight: 900;
  }
}